body {
    background-color:#87CEEB;
}

.main {
    height: 100vh;
    width: 46.15384615vh;
    background-color: #87CEEB;
    margin: 0 auto;
}

.top   {
    height: 45%;
    width: 100%;
    background-color: #87CEEB;
}

.bot {
    height: 55%;
    width: 100%;
    background-color: #87CEEB;
}

.wheet {
    width: 75%;
    height: auto;
    transform: rotate(-20deg);
}

.wheat {
    margin-left: auto;
    width: 75%;
    height: auto;
    transform: rotate(20deg);
}

.full-width {
    width: 100%;
    overflow: auto;
}

.bootom {
    text-align: right;
    float: right;
}

#alejandro {
    width: 100%;
    height: auto;
}

.text-big {
    font-size: 7vh;
}