body {
    background-color:#87CEEB;
}

.main {
    height: 100vh;
    width: 46.15384615vh;
    background-color: #87CE;
    margin: 0 auto;
}

.top   {
    height: 45%;
    width: 100%;
    background-color: white;
}

.bot {
    height: 55%;
    width: 100%;
    background-color: black;
}

.wheat {
    width: 10%;
    height: auto;
}